<h1>Campaigns</h1>

<table>
  <thead>
    <tr>
      <th>Title</th>
      <th>Tags</th>
      <th>Estimated duration</th>
      <th>User</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @campaigns.each do |campaign| %>
      <tr>
        <td><%= campaign.title %></td>
        <td><%= campaign.tags %></td>
        <td><%= campaign.estimated_duration %></td>
        <td><%= campaign.user.try(:email) %></td>
        <td><%= link_to 'Show', campaign %></td>
        <% if current_user.try(:expert?) %>
          <td><%= link_to 'Edit', edit_campaign_path(campaign) %></td>
          <td><%= link_to 'Destroy', campaign, method: :delete %></td>
        <% else %>
          <td></td>
          <td></td>
        <% end %>
      </tr>
    <% end %>
  </tbody>
</table>

<br>


<% if current_user.try(:expert?) %>
  <%= link_to 'New Campaign', new_campaign_path %>
<% end %>
