<p>
  <strong>Title:</strong>
  <%= @campaign.title %>
</p>

<p>
  <strong>Tags:</strong>
  <%= @campaign.tags %>
</p>

<p>
  <strong>Estimated duration:</strong>
  <%= @campaign.estimated_duration %>
</p>

<p>
  <strong>User:</strong>
  <%= @campaign.user.try(:email) %>
</p>

<p>
<% if current_user.try(:expert?) %>
  <%= link_to 'Edit', edit_campaign_path(@campaign) %> |
<% end %>
<%= link_to 'Back', campaigns_path %>
</p>

<ul>
  <% @campaign.todos.each do |todo| %>
    <li><%= todo.title %>
      <% if current_user.try(:expert?) %>
        | <%= link_to 'Destroy', todo, method: :delete %></li>
      <% end %>
  <% end %>
</ul>

<p>
<%= link_to 'New Todo', new_campaign_todo_path(@campaign) %>
</p>
