<p id="notice"><%= notice %></p>

<p>
  <strong>Title:</strong>
  <%= @todo.title %>
</p>

<p>
  <strong>Campaign:</strong>
  <%= @todo.campaign %>
</p>

<!-- <%= link_to 'Edit', edit_todo_path(@todo) %> | -->
