<h1>Editing Todo</h1>

<%= form_for @user do |f| %>
  <% if @user.errors.any? %>
    <div class="error_messages">
      <h2>Form is invalid</h2>
      <ul>
        <% @user.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :username %><br />
    <%= f.text_field :username %>
  </div>
  <div class="field">
    <%= f.label :email %><br />
    <%= f.text_field :email, required: true %>
  </div>
  <div class="field">
    <%= f.label :status %><br />
    <%= f.select :status, User.statuses.keys.to_a %>
  </div>
  <div class="field">
    <%= f.label :role %><br />
    <%= select_tag :type, options_for_select(["Expert", "Novice"], @user.type)  %>
  </div>

  <div class="actions"><%= f.submit "Update" %></div>
<% end %>

<p>
<%= link_to 'Show', @user %>
</p>
