<h1>Users</h1>

<table>
  <thead>
    <tr>
      <th>Email</th>
      <th>Username</th>
      <th>Status</th>
      <th>Role</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @users.each do |user| %>
    <tr>
      <td><%= user.email %></td>
      <td><%= user.username %></td>
      <td><%= user.status %></td>
      <td><%= user.type %></td>
      <td><%= link_to 'Show', user %></td>
      <% if current_user.try(:expert?) %>
        <td><%= link_to 'Edit', edit_user_path(user) %></td>
        <td><%= link_to 'Destroy', user, method: :delete %></td>
      <% else %>
        <td></td>
        <td></td>
      <% end %>
    </tr>
    <% end %>
  </tbody>
</table>

<br>
