<p>
  <strong>Username:</strong>
  <%= @user.username %>
</p>


<p>
  <strong>Email:</strong>
  <%= @user.email %>
</p>

<p>
  <strong>Status:</strong>
  <%= @user.status %>
</p>

<p>
  <strong>Role:</strong>
  <%= @user.type %>
</p>

<% if current_user.try(:expert?) %>
  <%= link_to 'Edit', edit_user_path(@user) %> |
<% end %>
<%= link_to 'Back', users_path %>
