<!DOCTYPE html>
<html>
  <head>
    <title>Homify</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <nav>
      <div class="menu">
        Menu:
        <%= link_to "Campains", campaigns_path %>
        <%= link_to "Comments", comments_path %>
        <%= link_to "Users", users_path %>
      </div>
      <div class="signin">
        <% if current_user %>
          Logged in as <%= current_user.email %>
          <%= link_to "Log Out", session_path(current_user), method: "delete" %>
        <% else %>
          <%= link_to "Sign Up", new_user_path %>
          <%= link_to "Login", new_session_path %>
        <% end %>
      </div>
    </nav>

    <main>
    <p id="notice"><%= notice %></p>

    <%= yield %>
    </main>
  </body>
</html>
